*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
.common-btn{
    padding: 15px 35px;
    color: #fff;
    background-image: linear-gradient(to top, #f56360e7, #F56260);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.common-paragraph{
    color: rgba(0,0,0,0.7);
    margin: .8rem 0;
}

#header #navbar{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
#header #navbar a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 5px;
}

#header #header-banner{
    width: 80%;
    margin: 1rem auto;
}
#header #header-banner .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}
#header #header-banner .banner img{
    width: 40%;
}
#header #header-banner .banner-content{
    width: 50%;
}
#header #header-banner .banner-content h1{
    font-size: 4rem;
    color: #363060;
}
#header #header-banner .banner-content span{
    font-size: 4rem;
    color: #FF8367;
}